.btn-danger {
    background-color: #F34665 !important;
    border-radius: 5px;
}

.btn-outline-danger {
    color: #F34665 !important;
    border: 1px solid #F34665 !important;
}

.btn-outline-danger:hover,
.btn-outline-danger:focus {
    color: #fff !important;
    background-color: #F34665 !important;
}

.btn-danger:hover,
.btn-danger:focus {
    background-color: #F34665 !important;
}