.left {
    display: flex;
    background-color: #f0f4ef;
    color: #1e1a32;
}

.right {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #F34665;
    height: 100% !important;
    color: #1e1a32;
}

@media only screen and (min-width: 768px) {
    .right {
        height: 100vh !important
    }
}

@media only screen and (max-width: 1024px) {
    .button-label {
        display: none !important
    }
}

/*@media only screen and (min-width: 1024px) {
    .right {
        height: 100vh !important
    }
}*/